[user]
	name = Sean Cheng
	email = blackhorseya@gmail.com
[pull]
	rebase = true
[core]
	excludesfile = /Users/doggy/.gitignore
[commit]
	gpgSign = false
	template = /Users/doggy/.gitmessage.txt
[gui]
	pruneduringfetch = true
[smartgit "submodule"]
	fetchalways = false
	update = true
	initializenew = true
[push]
	recurseSubmodules = on-demand
